
@font-face
{
	fontFamily: "Century Gothic";
	src: url("C:\WINDOWS\Fonts\GOTHIC.TTF");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Century Gothic";
	fontWeight: bold;
	src: url("C:\WINDOWS\Fonts\GOTHICB.TTF");
	embedAsCFF: true;
}













